* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* body {
    background-color: rgb(238, 124, 238);
} */

/* header-section */
.header {
    background-color: #4E56C0;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* margin-bottom: 30px; */
}

.logo {
    padding: 5px;
}

.logo a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    transition: all 0.2s ease;
}

.navbar a:hover {
    transform: scale(1.1);
}

/* hero-section */
.hero {
    background-color: #9B5DE0;
    padding: 30px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.hero img {
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    /* clip-path: circle(40% at 50% 50%); */
}

.info {
    /* margin-left: 20%; */
    text-align: center;
}

.info h1 {
    font-size: 2.5rem;
}

.info p {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* about-section */
.about {
    background-color: #D78FEE;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.about p {
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    width: 70%;
}

.resume {
    display: inline-block;
    transition: all 0.2s linear;
}

.resume:hover {
    transform: scale(1.05);
}

/* projects-section */
.projects {
    background-color: #9B5DE0;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.projects>h2 {
    display: block;
    padding: 20px;
    font-size: 2.5rem;
    color: white;
}

.cardContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    width: 400px;
    min-height: 500px;
    padding: 30px;
    background-color: rgb(218, 203, 203);
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
    transition: all 0.2s linear;
}

.card:hover {
    transform: scale(1.02);
}

/* .card a {
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
}

.card a:hover{
    transform: scale(1.05);
} */
.card img {
    width: 300px;
    height: 350px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px 1px gray;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 10px;
}

/* contact-section */
.contact {
    height: 550px;
    padding: 50px;
    background-color: #FDCFFA;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.form-items {
    margin-left: 10%;
    margin-top: 20px;
}

.contact>h2 {
    text-align: center;
    font-size: 2.5rem;
}

.form-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.form-group input {
    width: 400px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
}

#reason {
    padding: 10px;
    width: 400px;
    font-size: 1.2rem;
    border: none;
}

.feedback #message {
    width: 500px;
    height: 100px;
    font-size: 1.2rem;
    border: none;
}

/* footer-section */
.footer {
    background-color: #4E56C0;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.footer-text p {
    font-size: 1.2rem;
}

/* media queries */

/* larger screens */
@media (max-width: 1320px) {
    .cardContainer {
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        gap: 20px;
    }
}

/* medium size screens */
@media(max-width: 1200px) {
    .form-row {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .feedback #message {
        width: 400px;
        height: 100px;
        font-size: 1.2rem;
        border: none;
    }

    .contact {
        height: 600px;
        padding: 50px;
        background-color: #FDCFFA;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }
}

@media (max-width: 960px) {
    .card {
        width: 330px;
        min-height: 500px;
        padding: 30px;
        background-color: rgb(218, 203, 203);
        font-size: 1.2rem;
        border-radius: 20px;
        box-shadow: 2px 2px 10px gray;
        transition: all 0.2s linear;
    }

    .card img {
        width: 270px;
        height: 350px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 10px 1px gray;
        border-radius: 10px;
    }
}

/* for phones */
@media(max-width: 760px) {
    .cardContainer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 580px) {
    .header {
        background-color: #4E56C0;
        height: 150px;
        display: flex;
        flex-direction: column;

        padding: 20px;
        /* margin-bottom: 30px; */
    }

    .hero {
        padding: 30px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
    }

    .hero img {
        height: 350px;
    }

    .about p {
        line-height: 1.5;
        font-size: 1.5rem;
        text-align: center;
        display: block;
        width: 90%;
    }

    .card {
        width: 350px;
        min-height: 500px;
        padding: 30px;
        background-color: rgb(218, 203, 203);
        font-size: 1.2rem;
        border-radius: 20px;
        box-shadow: 2px 2px 10px gray;
        transition: all 0.2s linear;
    }

    .card img {
        width: 280px;
        height: 350px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 10px 1px gray;
        border-radius: 10px;
    }

    .form-items {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

    .form-row input {
        width: 300px;
    }

    #reason {
        padding: 10px;
        width: 300px;
        font-size: 1.2rem;
        border: none;
    }

    .feedback #message {
        width: 300px;
        height: 100px;
        font-size: 1.2rem;
        border: none;
    }
}

@media(max-width: 410px) {
    .header {
        height: 100px;
    }

    .logo a {
        font-size: 30px;
    }

    .navbar a {
        font-size: 20px;
    }

    .hero {
        height: 450px;
    }

    .hero img {
        height: 300px;
    }

    .form-row input {
        width: 250px;
    }

    #reason {
        padding: 10px;
        width: 250px;
        font-size: 1.2rem;
        border: none;
    }

    .feedback #message {
        width: 250px;
        height: 100px;
        font-size: 1.2rem;
        border: none;
    }

    .card {
        width: 300px;
        min-height: 500px;
        padding: 30px;
        background-color: rgb(218, 203, 203);
        font-size: 1.2rem;
        border-radius: 20px;
        box-shadow: 2px 2px 10px gray;
        transition: all 0.2s linear;
    }

    .card img {
        width: 250px;
        height: 350px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 10px 1px gray;
        border-radius: 10px;
    }
}