/* contact-section */
.contact {
    height: 550px;
    padding: 50px;
    background-color: #EFE9E3;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
}

.form-items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/* .form-items {
    margin-left: 10%;
    margin-top: 20px;
} */

.contact>h2 {
    text-align: center;
    font-size: 2.5rem;
}

.form-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.form-group input {
    width: 400px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
}

#reason {
    padding: 10px;
    width: 400px;
    font-size: 1.2rem;
    border: none;
}

.feedback #message {
    width: 500px;
    height: 100px;
    font-size: 1.2rem;
    border: none;
}

/* medium size screens */
@media(max-width: 1200px) {
    .form-row {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .feedback #message {
        width: 400px;
        height: 100px;
        font-size: 1.2rem;
        border: none;
    }

    .contact {
        height: 600px;
        padding: 50px;
        background-color: #EFE9E3;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        align-items: center;
        margin: auto;
    }
}

/* for phones */

@media (max-width: 580px) {

    .form-items {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

    .form-row input {
        width: 300px;
    }

    #reason {
        padding: 10px;
        width: 300px;
        font-size: 1.2rem;
        border: none;
    }

    .feedback #message {
        width: 300px;
        height: 100px;
        font-size: 1.2rem;
        border: none;
    }
}

@media(max-width: 410px) {
    .form-row input {
        width: 250px;
    }

    #reason {
        padding: 10px;
        width: 250px;
        font-size: 1.2rem;
        border: none;
    }

    .feedback #message {
        width: 250px;
        height: 100px;
        font-size: 1.2rem;
        border: none;
    }

    .contact {
        background-color: #EFE9E3;
    }
}