/* hero-section */
.hero {
    background-color: #D9CFC7;
    padding: 30px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.hero img {
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    /* clip-path: circle(40% at 50% 50%); */
}

.info {
    /* margin-left: 20%; */
    text-align: center;
}

.info h1 {
    font-size: 2.5rem;
}

.info p {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* for phones */

@media (max-width: 580px) {

    .hero {
        padding: 30px;
        height: 600px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        align-items: center;
    }

    .hero img {
        height: 350px;
    }
}

@media(max-width: 410px) {
    .hero {
        height: 450px;
    }

    .hero img {
        height: 300px;
    }
}