* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    color: rgb(41, 39, 39);
    scroll-behavior: smooth;
}

#portfolioBody {
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1;
    width: 100%;
    height: 100%;

    background-color: #ffffff;
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 16px 16px;
}