/* projects-section */
.projects {
    background-color: #F9F8F6;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.projects>h2 {
    display: block;
    padding: 20px;
    font-size: 2.5rem;
}

.cardContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 40px;
}

.card {
    max-width: 400px;
    min-height: 500px;
    padding: 30px;
    background-color: #EFE9E3;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(184, 181, 181);
    transition: all 0.2s linear;
}

.card:hover {
    transform: scale(1.02);
}

/* .card a {
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
}

.card a:hover{
    transform: scale(1.05);
} */
.card img {
    max-width: 300px;
    height: 350px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px 1px rgb(187, 184, 184);
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 10px;
}

/* large screens */
@media (max-width: 1320px) {
    .cardContainer {
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        gap: 40px;
    }
}


/* for phones */
@media(max-width: 760px) {
    .cardContainer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card {
        max-width: 450px;
    }

    .card img {
        max-width: 500px;
    }
}
